.bg_transdark{
    background-color:rgba(0,0,0,0.4)!important;
}

.change-body{
    overflow-x:hidden;
}

.change-container{
    max-width:none;
}

.padding-0{
    padding:0;
}
.margin-0{
    margin:0;
}

.margin-top-5{
    margin-top:5%;
}

.text-indent-7{
    text-indent:7%;
}

p{
    margin:0;
}

a{
    color:white;
}

hr{
    width:90%;
    border:1px white solid;
}

input::-webkit-input-placeholder {
        color: #FFF!important;
}

textarea{
    resize:none;
}

.h-em{
    height:6em;
}

.h-em2{
    height:20em;
}